.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form{
  margin-top: 4rem;
}
.ul{
  margin-left: 10rem;
  margin-right: 10rem;
  padding-left: 0px;
}